RewriteEngine On

# Keep URLs as /ella-pos/... while serving files from /ella-pos/ella-pos/...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ testing_site/$1 [L,QSA]
